*{
    box-sizing: border-box;
}
 
@font-face{
    src: url('../NovaMono.ttf');
    font-family: Nova;
}

html{
    /* background-image: linear-gradient(to top right, rgba(107, 103, 103, 0.75),rgba(107, 103, 103, 0.75), rgba(107, 103, 103, 0.75)), url('../images/horseJump.jpg'); */
    background-image: linear-gradient(to top, rgba(233, 195, 98, 0.75),rgb(204, 204, 204, 0.75), rgb(204, 204, 204, 0.75));
    height: 100vh;
    background-size: cover;
}

img{
    width: 430px;
    height: 350px;
    margin: auto;
    display: inline-block;
    border: 2px solid rgb(68, 41, 5, 0.8);
}

p{
    margin: auto;
    font-family: Nova;
    /* font-family: 'Poiret One', 'regular'; */
    margin: 20px 50px;
    text-align: left;
    color: rgb(68, 41, 5, 0.9);
}

h3{
    font-size: 35px;
    font-family: Nova;
    margin: auto;
}

h4{
    font-family: Nova;
}

a{
    text-decoration: none;
    color: rgb(68, 41, 5, 0.8);
}

h1{
    font-family: Nova;
    font-size: 50px;
    color: rgb(68, 41, 5, 0.8);
}

div{
    text-align: center;
}
.imgContainer{
    display: flex;
    flex-flow: row;
    margin-top: 30px;
}
